* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.top {
  background-color: rgba(34, 34, 34, 1);
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
  align-items: end;
}
.unit__header {
  display: grid;
  grid-template-columns: 44px 20px;
  align-items: end;
  gap: 41px;
}
.section-1 {
  background-color: #f1e4e6;
  display: grid;
  grid-template-columns: 570px 500px;
  gap: 64px;
  align-items: center;
}

.pink-rect__section-1 {
  background-color: #f16d7f;
  width: 12px;
  height: 92px;
}
.union__section-1 {
  display: grid;
  grid-template-columns: 12px 500px;
  gap: 16px;
}
.title__section-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.subtitle__section-1 {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 500px;
}
.color__section-1 {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
  padding-bottom: 96px;
  padding-top: 65px;
}
.card1_section-2 {
  background-image: url(img/product1_section2.jpg);
}
.card2_section-2 {
  background-image: url(img/product2_section2.jpg);
}
.card3_section-2 {
  background-image: url(img/product3_section2.jpg);
}
.subtitle_card_section-2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title_card_section-2 {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.center_card {
  text-align: center;
  padding: 105px 100px;
}
.card4__section-2 {
  background-image: url(img/product4_section2.jpg);
  grid-column: span 3;
  padding: 65px 490px;
}

.section-3 {
  text-align: center;
  margin-bottom: 48px;
}
.title_section-3 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.text_section-3 {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.card_section-3 {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  gap: 30px;
  text-align: left;
}
.title_card_section-3 {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 24px 16px 16px;
}
.img_card_section-3 {
  margin-bottom: 25px;
}
.text_card_section-3 {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 16px 0 16px 16px;
}
.prise_card_section-3 {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0 0px 16px;
}
.section-4 {
  justify-content: center;
  margin-bottom: 60px;
  display: flex;
}
.button_section-4 {
  border: 1px solid rgba(255, 106, 106, 1);
  width: 212px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_button_section-4 {
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
